*{
  margin:0 ;
  padding:0 ;
  box-sizing:border-box;
}

.ヘッダー{
  width:100%;
  height:50px;
  background-color:red;
}

.メインビジュ{
  width:100%;
  height:500px;
  background-color:orange;
}

.メイン{
  width:960px;
  height:1400px;
  display: flex;
  justify-content: center;
  margin:0 auto;
}

.メイン1{
  width:230px;
  height:1400px;
  background-color:palegreen;
}

.メイン2{
  width:500px;
  height:1400px;
  background-color:limegreen;
}

.メイン3{
  width:230px;
  height:1400px;
  background-color:palegreen;
}

.フッター{
  width:100%;
  height:100px;
  background-color:blue;
}